<div class="container text-center">
    <h2>Info Anagrafic</h2>
    <!-- <h2 id="id">{{infoUser[0].id}}</h2> -->
    <br><br>
    <p><strong>FirstName:</strong> {{infoUser[0].firstName}}</p>
    <p><strong>LastName:</strong> {{infoUser[0].lastName}}</p>
    <p><strong>Email:</strong> {{infoUser[0].email}}</p>
    <p><strong>Address:</strong> {{infoUser[0].address}}</p>
    <p><strong>City:</strong> {{infoUser[0].city}}</p>
    <p><strong>Location:</strong> {{infoUser[0].location}}</p>
    <p><strong>Province:</strong> {{infoUser[0].province}}</p>
    <p><strong>Notes:</strong> {{infoUser[0].notes}}</p>
</div>