<div class="container text-center">
    <h2>Edit Anagrafic</h2>
    <br>
    <form [formGroup]="editAnagraficForm" (submit)="submitForm()">
        <app-input-anagrafic [formData]="editAnagraficForm" (onFormGroupChange)="onChange($event)"></app-input-anagrafic>
        <br>
        <button type="submit" class="btn btn-success" [disabled]="editAnagraficForm.invalid">Edit</button>
        <swal #deleteSwal title="Data not saved" text="Do you want to continue?" icon="warning" [showCancelButton]="true"
        [focusCancel]="true" (confirm)="onSubmit()"> </swal>
        <button [swal]="deleteSwal" type="button" class="btn btn-danger ms-2">Cancel</button>
    </form>

    <br><br>
</div>