<div class="container row row-cols-3" [formGroup]="userData">
    <div class="form-group p-2">
        <input type="text" class="form-control" placeholder="FirstName*" formControlName="firstName">
        <div *ngIf="fc.firstName.hasError('required')">
            <div class="alert alert-danger" *ngIf="fc.firstName.touched && fc.firstName.invalid">firstName is required...</div>
        </div>
    </div>
    <div class="form-group p-2">
        <input type="text" class="form-control" placeholder="LastName*" formControlName="lastName">
        <div *ngIf="fc.lastName.hasError('required')">
            <div class="alert alert-danger" *ngIf="fc.lastName.touched && fc.lastName.invalid">lastName is required...</div>
        </div>
    </div>
    <div class="form-group p-2">
        <input type="text" class="form-control" placeholder="Email*" formControlName="email">
        <div *ngIf="fc.email.hasError('required')">
            <div class="alert alert-danger" *ngIf="fc.email.touched && fc.email.invalid">email is required...</div>
        </div>
        <div *ngIf="fc.email.hasError('email')">
            <div class="alert alert-danger" *ngIf="fc.email.touched && fc.email.invalid">email not valid...</div>
        </div>
    </div>
    <div class="form-group p-2">
        <input type="text" class="form-control" placeholder="City*" formControlName="city">
        <div *ngIf="fc.city.hasError('required')">
            <div class="alert alert-danger" *ngIf="fc.city.touched && fc.city.invalid">city is required...</div>
        </div>
    </div>
    <div class="form-group p-2">
        <input type="text" class="form-control" placeholder="Province" formControlName="province">
    </div>
    <div class="form-group p-2">
        <input type="text" class="form-control" placeholder="Location" formControlName="location">
    </div>
    <div class="form-group p-2">
        <input type="text" class="form-control" placeholder="Address" formControlName="address">
    </div>
    <div class="form-group p-2">
        <textarea class="form-control" placeholder="Notes" name="" id="" cols="30" rows="1" formControlName="notes"></textarea>
    </div>
</div>