<div class="container text-center">
    <h2>New Anagrafic</h2>
    <br>
    <form [formGroup]="newAnagraficForm" (submit)="submitForm()">
        <app-input-anagrafic [formData]="newAnagraficForm" (onFormGroupChange)="onChange($event)"></app-input-anagrafic>
        <br>
        <button type="submit" class="btn btn-success" [disabled]="newAnagraficForm.invalid">Save</button>
        <button type="button" (click)="onSubmit()" class="btn btn-danger ms-2">Delete</button>
    </form>
    <br><br>
</div>